@font-face {
  font-family: poppins; 
  src: url('/Poppins-Thin.ttf');
  font-weight: 200;
} 

@font-face {
  font-family: poppins; 
  src: url('/Poppins-Regular.ttf');
  font-weight: 300;
} 

@font-face {
  font-family: poppins; 
  src: url('/Poppins-SemiBold.ttf');
  font-weight: 400;
} 
@font-face {
  font-family: poppins; 
  src: url('/Poppins-Bold.ttf');
  font-weight: 500;
} 

body {
  font-family: poppins;
  color: #111;
}
